<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title th:text="#{admin.title}"></title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" />

    <!-- Theme CSS -->
    <link th:href="@{css/theme.css}" rel="stylesheet" />

    <!-- Custom Fonts -->
    <!-- <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    	<script th:src="@{js/libraries/support/html5shiv.min.js}"></script>
    	<script th:src="@{js/libraries/support/respond.min.js}"></script>
    <![endif]-->

</head>

<body id="page-top" onload='document.f.username.focus();'>

    <!-- Navigation -->
    <nav id="main-nav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button> -->
                <a class="navbar-brand" href="/admin" th:text="#{admin.brand}"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div> -->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header class="admin">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name" th:text="#{admin.banner}"></span>
                        <hr class="star-light" />
                        <span class="skills" th:text="#{admin.slogan}"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

	<!-- Registration Section -->
    <section id="login">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3><i class="glyphicon glyphicon-user"></i> <span th:text="#{login.login.label}"></span></h3>
                    <!-- <hr class="star-primary" /> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                	<form name="f" th:action="@{/login} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" method="post">
                		<!-- <div class="form-group global-error">
                			
							<label id="global-error" class="validation-error-label" th:text="#{login.failure.msg}"></label>
						</div> -->
						<div class="validation-error-label"><span id="global-error">&nbsp;</span></div>
                        <div class="form-group" style="margin-bottom: 0px;">
							<label for="username" th:text="#{login.username.label}"></label>
							<input type="text" class="form-control" id="username" name="username" maxlength="255" required="required" />
							<div class="validation-error-label"><span id="username-error">&nbsp;</span></div>
						</div>
						<div class="form-group" style="margin-bottom: 0px;">
							<label for="password" th:text="#{login.password.label}"></label>
							<input type="password" class="form-control" id="password" name="password" maxlength="255" />
							<div class="validation-error-label"><span id="password-error">&nbsp;</span></div>
						</div>
                        <!-- <div class="row"> -->
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-success btn-lg submit" th:value="#{general.login.label}" />
                            </div>
                       <!--  </div> -->
                     </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <!-- <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-8">
                        <h3>About Game</h3>
                        <p>Nullam consequat malesuada erat, eu aliquam felis egestas vel. Aenean vel iaculis risus. Mauris eu eleifend urna, nec mattis enim. Donec facilisis, tortor in ultrices aliquam, orci risus varius dolor, id posuere massa urna vitae arcu.</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>NHN Social</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <span th:utext="#{general.copyright}"></span>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script th:src="@{js/libraries/jquery-3.1.0.min.js}"></script>
    <!-- <script src="http://code.jquery.com/jquery-1.9.1.js"></script> -->

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{js/libraries/bootstrap.min.js}"></script>

    <!-- Theme JavaScript -->
    <script th:src="@{js/pages/login.js}"></script>
    
    <script th:inline="javascript">
   		$.messages = $.messages || {};
   		$.messages['empty'] = ' ';
   		$.messages['login_username_required_msg'] = /*[[#{login.username.required.msg}]]*/;
   		$.messages['login_password_required_msg'] = /*[[#{login.password.required.msg}]]*/;
   		$.messages['login_failure_msg'] = /*[[#{login.failure.msg}]]*/;
    </script>

</body>

</html>